<!DOCTYPE html>
<html>
<head>
	<title>Listar Requisições</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/requisicao.css">
</head>
<body>
	<% include ../../views/partialsAdm/navAdm %>
	<p id = "listarReq">Listar Requisicao</p>
	<div class="container">
		<table class="table">
			<thead>
                <tr>
			        <th scope="col" style="width:20%" id = "thData">Data</th>
					<th scope="col" style="width:40%" id = "thRequisicao">Numero Requisição</th>
					<th scope="col" style="width:40%" id = "thSolicitante">Solicitante</th>
                </tr>
            </thead>
            <tbody id="tabela-solicitacao">
            </tbody>        
        </table>
		<script src="/js/listRequisicao.js"></script>
	</div>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/fontawesome-all.min.js"></script>
</body>
</html>