<meta charset="UTF-8">
<title>Warehouse</title>
<link rel="stylesheet " type="text/css " href="/components/bootstrap/dist/css/bootstrap.min.css ">
<link rel="stylesheet " type="text/css " href="/node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet " type="text/css " href="components/jquery/dist/jquery.min.js">