<!DOCTYPE html>
<html>
<head>
	<title>Sistema Almoxarifado</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="css/requisicao.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/solicitacoes">Minhas Solicitações</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/solicitacoes/new">Nova Solicitação</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav ml-auto">
		    	<li class="nav-item">
		    		<span class="navbar-text">Igor</span>
		    	</li>
		    	<li class="nav-item">
		    		<a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i></a>
		    	</li>
		    </ul>
		  </div>
		</div>
	</nav>

	<div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome </th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Solicitante</th>
                </tr>
            </thead>
            <tbody id="tabela-solicitacao">
            </tbody>        
        </table>


        
        <button id="a" class="botao bto-principal">Adicionar</button>
        <script src="/js/req.js"></script>

	</div>
	<!-- Bootstrap JSs -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- FontAwesome JS -->
	<script src="/js/fontawesome-all.min.js"></script>

</body>
</html>