<% include header %>

<h1>Porra</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome </th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Solicitante</th>
        </tr>
    </thead>
    <tbody id="tabela-solicitacao">
    </tbody>        
</table>

<button id="adicionar-paciente" class="botao bto-principal">Adicionar</button>

<script src="/js/req.js"></script>




<% include footer %>

