<% include header %>

<h1>Porra</h1>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">descricao</th>
            <th scope="col">data</th>
            <th scope="col">justificativa</th>
        </tr>
    </thead>
    <tbody id="tabela-solicitacao">
       

    </tbody>        
</table>

<button id="adicionar-paciente" class="botao bto-principal">Adicionar</button>

<script src="/js/req.js"></script>




<% include footer %>

