.table{
    width: 75%;
    margin-bottom : .5em;
    table-layout: fixed;
}
td, th {
    padding: .7em;
	margin: 0;
	border: 1px solid rgba(172, 169, 169, 0.808);
	text-align: center;
}
th{
    font-weight: bold;
	background-color: #363333;
    color: blanchedalmond;
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}
