h1 {
	margin: 30px;
}

form {
	width: 50%;
	margin: 0 auto;
}

form#menu {
	margin: 10px;
	width: auto;
}

body {
	margin-top: 60px;
}

.card {
	margin: 10px 0;
}

.card span {
	float: right;
}

.card .badge {
	float: right;
}

tr:hover {
	cursor: pointer;
}
