.table{
	width: 75%;
	margin: auto;
    margin-bottom : .5em;
    table-layout: fixed;
}
td, th {
	white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .7em;
	margin: 0;
	border: 1px solid rgba(172, 169, 169, 0.808);
	text-align: center;
}
th{
	font-weight: bold;
	background-color: #363333;
	color: blanchedalmond;
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}
.solicitacao-invalido{
	background-color: lightcoral;
	color: white
	}

.info-id{
	visibility: hidden;
}

button{
	margin-top: 5%;
	margin-bottom: 0.5%;
	margin-left: 69%;
	padding: .5em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1em;
	cursor: pointer;
	color: #fff;
	background-color:#363333;
	border-color: black;
	width: 12%;
    display: block;
    clear: both;
}
button:active{
	margin-top:5%;
	border: 0;
}
button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;
	
}