<head>
    <title>Sistema Almoxarifado</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/requisicao.css">
</head>

<body>
    <% include ../../views/partialsAdm/navAdm %>
        <% include ../../views/requisicoes/modal %>
        <div  id="siorgCadastro">
                <div class="form-group">
                    <label for="formGroupExampleInput">Código Siorg</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Código">
                </div>
                <div class="form-group">
                    <label for="comment">Descrição:</label>
                    <textarea class="form-control" rows="5" id="descricao"></textarea>
                </div>
                <button type="button" class="btn btn-success" id = "botaoConfirmaSiorg">Confirmar</button>

                <!-- Bootstrap JSs -->
                <script src="/js/bootstrap.min.js"></script>
                <!-- FontAwesome JS -->
                <script src="/js/fontawesome-all.min.js"></script>
                 <script src="/js/adicionarSiorg.js"></script>
        </div>
</body>


</html>