
<html>
<header></header>
<% include ../../views/partials/header %>

<body>
    <% include ../../views/partials/nav-bar %>
<div class="row">
	<div class="col-md-12">
		<h1>Solicitacao #</h1>
		
		<h4>Descricao:</h4>
		<p>AS</p>

		<h4>Quantidade:</h4>
		<p>2</p>

		<h4>Justificativa:</h4>
		<p>dqdq</p>

		<h4>Data:</h4>
		<p>hoje</p>

		<h4>Solicitante:</h4>
		<p>eu</p>
	</div>
</div>

 <% include ../../views/partials/scripts %>
  </body>

</html>