
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarADM">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Warehouse
          <span><i class="fas fa-warehouse"></i></span>
        </a>
    </div>

   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Requisicões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://localhost:3000/requisicoes">Criar Requisição</a>
          <a class="dropdown-item" href="http://localhost:3000/requisicoes/historico">Visualizar Requisicões</a>
          <a class="dropdown-item" href="http://localhost:3000/requisicoes/historico">Editar Requisicões</a>
        </div>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Solicitacões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/solicitacoes">Criar Solicitacão</a>
          <a class="dropdown-item" href="#">Validar Solicitacões</a>
          <a class="dropdown-item" href="#">Visualizar Solicitacao</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Siorg
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://localhost:3000/siorg/adicionar">Adicionar Siorg</a>
         <a class="dropdown-item" href="http://localhost:3000/siorg/consultar">Consultar Siorg</a> 
          <a class="dropdown-item" href="#">Remover Siorg</a>
          <a class="dropdown-item" href="#">Editar Siorg</a>
                          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estoque
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Adicionar Produto</a>
         <a class="dropdown-item" href="#">Consultar Produto</a> 
          <a class="dropdown-item" href="#">Registrar Movimentação</a>
           <a class="dropdown-item" href="#">Verificar Produtos em Estoque</a>
                          
        </div>
      </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatorios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Gerar Relatório de Requisicão</a>
                          
        </div>
      </li>
      
      
      



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </div>
  </div>
</nav>