<!DOCTYPE html>
<html>


<head>
	<title>Adicionar Solicitação</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/requisicao.css">
</head>
<body>
	
	<p>Criar Requisicao</p>

	<% include ../../views/partialsAdm/navAdm %>
	<% include ../../views/requisicoes/modal %>	
	<div id= "error" style = "display:none;background-color: rgb(247, 162, 162);" class="alert alert-secondary" role="alert">
			Nenhuma solicitacao selecionada
	</div>
	<button type="button"  data-toggle="modal" id="newRequisicao" class="botao bto-principal" data-target="#exampleModal">adiciona Solicitação</button>
	
	<div class="container">
		<table class="table">
			<thead>
                <tr>
			        <th scope="col" style="width:15%" id = "thData">Data</th>
					<th scope="col" style="width:50%" id = "thDescricao">Descrição</th>
                  	<th scope="col" style="width:15%" id = "thStatus">Status</th>
					<th scope="col" style="width:20%" id = "thSolicitante">Solicitante</th>
                </tr>
            </thead>
            <tbody id="tabela-solicitacao">
            </tbody>        
        </table>
		<script src="/js/addSolicitacao.js"></script>
	</div>
		
	<!-- Bootstrap JSs -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- FontAwesome JS -->
	<script src="/js/fontawesome-all.min.js"></script>
</body>
</html>